body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    background-color: #ffffff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;

    height:100%;
    color: #2c2a2a;
    background-color: #ffffff;
}
.colpadding {
    padding-left: 20px;
}
.pandingTop{padding-top:30px;}
div.iBannerFix {
    height: 50px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #1a1735;
    width: 100%;
    z-index: 99;
    color:#c2c6c7;
}
    /* Set width on the form input elements since they're 100% wide by default */
    input, select, textarea {
    max-width: 280px;
}

.bg-ber {
    background-color:  rgba(14, 14, 14, 0.95);
}

.Bg1 {
    background-color: rgba(195, 192, 192, 0.51);
}
.Bg2 {
     background-color: rgba(236, 238, 236, 0.80);
}

.Bg3 {
    background-image: url('bg.png');
}

.Bg4 {
    background-color: rgba(236, 238, 236, 0.80);
}
 .margin-all-2{margin: 2px;}
 .margin-all-3{margin: 3px;}
 .box-shado-1{border-radius: 8px; border: solid 1px rgba(14, 14, 14, 0.75);}
 .box-shado-2{border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; box-shadow: 5px 5px 5px;}

.heigh1 {
    height: 100%;
}

p.menu{
    display:block;
    background-color:aquamarine;

}
p.menu:hover{
    background-color:aqua;
}

@media(min-width:100px) {
    .hidden-c {
        display: none;
    }
}

@media(min-width:280px) {
    .hidden-c {
        display: none;
    }
}

@media(min-width:750px) {
    .hidden-c {
        display: none;
    }
}

@media(min-width:750px) {
    .hidden-c {
        display: block;
    }
}

@media(min-width:1200px) {
    .hidden-c {
        display: block;
    }
}
A:link	{
text-decoration:none;
color: #2153ff;
}
A:visited	{
text-decoration:none;
color: #2153f8;
}
A:active	{
text-decoration:none;
color: #2153f8;
}
A:hover	{
text-decoration:none;
color: #11a3f7;
}
