body   {  background:#34495E;}
.bg-green-1{background-color: #9FE2BF;}
.zoom-image:hover {
    transition: all 200ms linear;
    transform: scale(1.5); 
    opacity: 1; 
    z-index: 99;
  }
  
  .zoom-image { 
    opacity: 1;
    transform: scale(1.0); 
    transition: all 500ms linear; 
    position: relative;
    width: 100px;
    float: left;
    z-index: 1;
    margin: 10px;
  }